{
    "cluster": {
        "nodes": [
            {
                "ip": "",
                "port": "",
                "user": "",
                "password": ""
            },
            {
                "ip": "",
                "port": "",
                "user": "",
                "password": ""
            },
            {
                "ip": "",
                "port": "",
                "user": "",
                "password": ""
            },
            {
                "ip": "",
                "port": "",
                "user": "",
                "password": ""
            }
        ],
        "schedulers": [
            {
                "name": "Apache Hadoop"
            },
            {
                "name": "SGE"
            }
        ]
    }
}