{
    "cluster": {
        "nodes": [
            {
                "is_master": false
                "ip": "",
                "port": "",
                "user": "",
                "password": "",
            },
            {
                "is_master": false
                "ip": "",
                "port": "",
                "user": "",
                "password": "",
            },
            {
                "is_master": false
                "ip": "",
                "port": "",
                "user": "",
                "password": "",
            },
            {
                "is_master": false
                "ip": "",
                "port": "",
                "user": "",
                "password": "",
            }
        ],
        "schedulers": [
            {
                "name": "Apache Hadoop"
            },
            {
                "name": "SGE"
            }
        ]
    }
}